<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="spendAnalysisReportNew.css">
    <link rel="stylesheet" href="spendAnalysisCompare.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

    <title>고정비 지출 분석중</title>
</head>

<body>
<div class="top-graphbox">
    <div class="top">
        <h3>다른 미혼 여성과<br>
            고정비 지출 내역을 비교하여<br>
            지출을 점검해보세요</h3>
    </div>

    <div class="hi">
    <p>보험비에 매월 8만원<br>
            과도한 지출을 하고 있어요</p>
        <p>보험 변경 시 1년 기준<br>
            2만원을 절약할 수 있어요!</p>
    </div>



    <div class="graphbox" style="background-color: #F5F5F5">
        <p style="text-align: center">고정비 카테고리별 비율</p>
        <div class="chart-container"
             style="padding-top: 5px; display: flex; justify-content: center; align-items: center;">
            <canvas id="myChart" style="height:150px; width:150px; text-align: center "></canvas>
            <script type="text/javascript">
        let context = document
            .getElementById('myChart')
            .getContext('2d');
        let myChart = new Chart(context, {
            type: 'pie', // 차트의 형태
            data: { // 차트에 들어갈 데이터
<!--                labels: [-->
<!--                    //x 축-->
<!--                    '1','2','3','4','5','6','7'-->
<!--                ],-->
                datasets: [
                    { //데이터
                        label: 'test1', //차트 제목
                        fill: false, // line 형태일 때, 선 안쪽을 채우는지 안채우는지
                        data: [
                            21,19,25,20,23,26,25 //x축 label에 대응되는 데이터 값
                        ],
                        backgroundColor: [
                            //색상
                            'rgb(70, 127, 238 )',
                            'rgb(128, 150, 228)',
                            'rgb(41, 93, 226)',
                            'rgb(168, 194, 245)',
                            'rgb(178, 204, 255)',
<!--                            'rgb(255, 159, 64, 0.2)'-->
                        ],
                        borderColor: [
                            //경계선 색상
                            'rgb(70, 127, 238 )',
                            'rgb(128, 150, 228)',
                            'rgb(41, 93, 226)',
                            'rgb(168, 194, 245)',
                            'rgb(178, 204, 255)',
<!--                            'rgba(255, 159, 64, 1)'-->
                        ],
                        borderWidth: 1 //경계선 굵기
                    }/* ,
                        {
                            label: 'test2',
                            fill: false,
                            data: [
                                8, 34, 12, 24
                            ],
                            backgroundColor: 'rgb(157, 109, 12)',
                            borderColor: 'rgb(157, 109, 12)'
                        } */
                ]
            },
            options: {
                responsive: false,
                maintainAspectRatio : false,

                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                    gridLines: {
                        drawBorder: false,
                        color: 'transparent',
                        zeroLineColor: 'transparent'
                    }
                 }],
                xAxes: [{
                    gridLines: {
                        drawBorder: false,
                        color: 'transparent',
                        zeroLineColor: 'transparent'
                    }
                }]


            }
        });

                </script>
        </div>
        <br>

        <div style="text-align: center">
            <button class="button" type="button" onclick="handleAgree()">다른 미혼 여성과 비교하기</button>
        </div>

    </div>


    <!--    <div class="container-fluid py-1">-->

    <!--    <div style="width: 900px; height: 900px;">-->
    <!--        style="height:30vh; width:50vw-->
    <!--차트가 그려질 부분-->

</div></body>


<!--</body>-->
<!--style="padding-bottom: 62px "-->

<script>
      function handleAgree() {
        // 확인 버튼 클릭 시 처리할 액션을 작성합니다.
        alert("마이데이터 이용에 동의하셨습니다.");
      }
    </script>
</body>
</html>