<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--    <link rel="stylesheet" href="spendAnalysisReportNew.css">-->
<!--    <link rel="stylesheet" href="https://kusitsm27new.s3.us-east-2.amazonaws.com/spendAnalysisRecommend.css">-->
    <link rel="stylesheet" href="../../static/asset/spendAnalysisRecommend.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

    <title>고정비 지출 분석중</title>
</head>

<body>

<div class="top-graphbox">
    <button class="before" onclick="location.href='/spendAnalysisReportNew'" style="border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;"><img
            src="https://kusitsm27new.s3.us-east-2.amazonaws.com/Vector.png" alt="Image 1" ></button>

    <div class="top">
        <h3>고정비 관리 방법을 <br>
            제안해드려요<br></h3>
    </div>

    <div class="middle">
        <div class="menu">
            <button class="image-button" onclick="location.href='/recommendCard/1'"><img
                    src="https://kusitsm27new.s3.us-east-2.amazonaws.com/1.png" alt="Image 1"></button>
            <button class="image-button" onclick="location.href='/recommendCard/2'"><img
                    src="https://kusitsm27new.s3.us-east-2.amazonaws.com/2.png" alt="Image 2"></button>
            <button class="image-button" onclick="location.href='/recommendCard/3'"><img
                    src="https://kusitsm27new.s3.us-east-2.amazonaws.com/3.png" alt="Image 3"></button>
            <button class="image-button" onclick="location.href='/recommendCard/4'"><img
                    src="https://kusitsm27new.s3.us-east-2.amazonaws.com/4.png" alt="Image 4"></button>
            <button class="image-button" onclick="location.href='/recommendCard/5'"><img
                    src="https://kusitsm27new.s3.us-east-2.amazonaws.com/5.png" alt="Image 5"></button>
        </div>
    </div>


    <div class="graphbox" >
        <div th:each="card : ${cards}" style="

    width: 329px;
    height: 114px;
    left: 15px;
    top: 295px;

    background: #E4E8FC;
    border-radius: 20px;
     margin-top: 20px">
            <div style="display:flex;flex-direction: row; ">
            <div style="flex: 8;">
            <div class="hi" style=" width: 150px;
                                    height: 35px;

                                    margin-left: 30px;
                                    margin-top: 10px;

                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 16px;
                                    line-height: 26px;">
                <span th:text="${card.name}"></span>
            </div>
            <div class="hi2" style=" margin-top:-5px;
                                     margin-left: 30px;
                                    height: 30px;
                                    font-weight: bold;
                                    font-size: 12px;
                                    line-height: 17px;
                                    color: #2B66F5;">
                <span th:text="${card.description1}"></span>
            </div>
            <div class="hi3" style="    margin-top: -5px;
                                        margin-left: 30px;
                                        height: 30px;

                                        font-style: normal;
                                        font-weight: 500;
                                        font-size: 12px;
                                        line-height: 17px;

                                        color: #989898;
">
                <span th:text="${card.description2}"></span>
            </div>
            </div>
            <div style="flex: 2">
                <img th:src="${card.img}"  class="card" alt="Image 1" style="
                                                                            margin-top: 20px;
                                                                            border-radius: 10px;
                                                                            width: 70%;
                                                                            height: auto;
                                                                            max-width: 100%;">
            </div>
        </div>
        </div>



    </div>



</div></body>


<!--</body>-->
<!--style="padding-bottom: 62px "-->

<script>
      function handleAgree() {
        // 확인 버튼 클릭 시 처리할 액션을 작성합니다.
        alert("마이데이터 이용에 동의하셨습니다.");
      }
    </script>
</body>
</html>