<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://kusitsm27new.s3.us-east-2.amazonaws.com/spendAnalysisReportNew.css">
<!--    <link rel="stylesheet" href="../../static/asset/spendAnalysisReportNew.css">-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

    <title>고정비 지출 분석중</title>
</head>

<body>
<div class="top-graphbox">
    <img src="https://kusitsm27new.s3.us-east-2.amazonaws.com/Vector.png" class="before" alt="Image 1">

    <div class="top">
<!--            <div class="mx-auto">-->
            <h3 style="text-align: center">고정 지출 분석 레포트</h3>
            <h1>5월 고정비 지출</h1>
            <p>고정비로<br><span th:text="${fixedPercent}" style="color: #2B66F5;"></span>%를 지출하셨어요</p>
            <p>지난달 대비 <span th:text="${lastFixedPercent}"></span>% 줄었어요</p>
        </div>

        <div class="table" >
            <div class="colum">
            <p>월소득</p>
            <p>총지출</p>
            <p>고정 소득</p>
            </div>
            <div class="line"></div>
            <div class="value">
            <p><span th:text="${month}"></span>원</p>
            <p><span th:text="${total}"></span>원</p>
            <p><span th:text="${fixed}"></span>원</p>
            </div>
        </div>

    <div class="graphbox" style="background-color: #F5F5F5">
        <p style="text-align: center">고정비 카테고리별 비율</p>
        <div class="chart-container"
             style="padding-top: 5px; display: flex; justify-content: center; align-items: center;">
            <canvas id="myChart" style="height:150px; width:150px; text-align: center "></canvas>
            <script type="text/javascript">
        let context = document
            .getElementById('myChart')
            .getContext('2d');
        let myChart = new Chart(context, {
            type: 'pie', // 차트의 형태
            data: { // 차트에 들어갈 데이터
<!--                labels: [-->
<!--                    //x 축-->
<!--                    '1','2','3','4','5','6','7'-->
<!--                ],-->
                datasets: [
                    { //데이터
                        label: 'test1', //차트 제목
                        fill: false, // line 형태일 때, 선 안쪽을 채우는지 안채우는지
                        data:[1,2,3,4,5],
<!--                        let data = new Array();-->
<!--                        data.push([[${array}]]);-->
                        backgroundColor: [
                            //색상
                            'rgb(70, 127, 238 )',
                            'rgb(128, 150, 228)',
                            'rgb(41, 93, 226)',
                            'rgb(168, 194, 245)',
                            'rgb(178, 204, 255)',
<!--                            'rgb(255, 159, 64, 0.2)'-->
                        ],
                        borderColor: [
                            //경계선 색상
                            'rgb(70, 127, 238 )',
                            'rgb(128, 150, 228)',
                            'rgb(41, 93, 226)',
                            'rgb(168, 194, 245)',
                            'rgb(178, 204, 255)',
<!--                            'rgba(255, 159, 64, 1)'-->
                        ],
                        borderWidth: 1 //경계선 굵기
                    }/* ,
                        {
                            label: 'test2',
                            fill: false,
                            data: <span th:text="${array}">,
                            backgroundColor: 'rgb(157, 109, 12)',
                            borderColor: 'rgb(157, 109, 12)'
                        } */
                ]
            },
            options: {
                responsive: false,
                maintainAspectRatio : false,

                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                    gridLines: {
                        drawBorder: false,
                        color: 'transparent',
                        zeroLineColor: 'transparent'
                    }
                 }],
                xAxes: [{
                    gridLines: {
                        drawBorder: false,
                        color: 'transparent',
                        zeroLineColor: 'transparent'
                    }
                }]


            }
        });

                </script>
            </div>
            <br>
            <p style="text-align: center"><span th:text="${many}"></span>에 가장 많은 지출을 하고 있어요</p>

            <div style="text-align: center">
                <button class="buttons" type="button" onclick="location.href='/spendAnalysisCompare'">다른 미혼 여성과 비교하기</button>
                <button class="buttons" type="button" onclick="location.href='/spendAnalysisRecommend'">고정비 줄이기</button>
            </div>

        </div>




    </div>
</body>


<!--</body>-->
<!--style="padding-bottom: 62px "-->

<script>
      function handleAgree() {
        // 확인 버튼 클릭 시 처리할 액션을 작성합니다.
        alert("마이데이터 이용에 동의하셨습니다.");
      }
    </script>
</body>
</html>