.top-graphbox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu{
    /*position: absolute;*/
    /*width: 296px;*/

    display: flex;
    width: 130px;
    height: 60px;
    /*left : 30px;*/

}
.middle{
    width: 290px;
    text-align: center;

}
.half {
    width: 50%; /* 이미지의 너비를 50%로 설정하여 절반 크기로 조정 */
    height: auto; /* 너비에 맞게 이미지의 높이를 자동 조정 */
    max-width: 100%;

}
.hi{
    width: 150px;
    height: 35px;

    margin-left: 30px;
    margin-top: 10px;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;


}
.hi2{

    margin-top:15px;
    margin-left: 30px;
    height: 30px;

    /*margin-top: 1px;*/

    /*font-family: 'Noto Sans KR';*/
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    /* or 142% */

    color: #2B66F5;

}
.hi3{

    margin-top: -25px;
    margin-left: 30px;
    height: 30px;

    /*margin-top: 1px;*/

    /*font-family: 'Noto Sans KR';*/
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    /* or 142% */

    color: #989898;


}
.button{
    /*position: absolute;*/

    width: 296px;
    height: 56px;
    /*left: 48px;*/
    top: 670px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #2B66F5;
    border-radius: 10px;
    text-align: center;
    border : none;
}


.graphbox{
    width: 329px;
    height: 114px;
    left: 15px;
    top: 295px;

    background: #E4E8FC;
    border-radius: 20px;
    display: flex;
    flex-direction: column;


}
.top{
    /*position: absolute;*/
    width: 290px;

    color: #000000;

}
.card{
    /*position: absolute;*/
    /*width: 38px;*/
    /*height: 62px;*/

    margin-top: 20px;


    /*background: url(그림1.png);*/
    border-radius: 10px;
    /*margin-top:20px*/
    width: 70%; /* 이미지의 너비를 50%로 설정하여 절반 크기로 조정 */
    height: auto; /* 너비에 맞게 이미지의 높이를 자동 조정 */
    max-width: 100%;
}
