
<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">

<html>
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://kusitsm27new.s3.us-east-2.amazonaws.com/spendAnalysisCompare.css">
<!--            <link rel="stylesheet" href="../../static/asset/spendAnalysisCompare.css">-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

    <title>고정비 지출 분석중</title>
</head>

<body>

<div class="top-graphbox">
    <div class="top-graphbox">
        <button class="before" onclick="location.href='/spendAnalysisReportNew'" style="border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;"><img
                src="https://kusitsm27new.s3.us-east-2.amazonaws.com/Vector.png" alt="Image 1" ></button>

    <div class="top">
        <h3>다른 미혼 여성과<br>
            고정비 지출 내역을 비교하여<br>
            지출을 점검해보세요</h3>
    </div>

    <div class="middle">
        <div class="menu">
            <button class="image-button" onclick="location.href='/getFoodCompare'"><img
                    src="https://kusitsm27new.s3.us-east-2.amazonaws.com/1.png" alt="Image 1"></button>
            <button class="image-button" onclick="location.href='/getTransportCompare'"><img
                    src="https://kusitsm27new.s3.us-east-2.amazonaws.com/2.png" alt="Image 2"></button>
            <button class="image-button" onclick="location.href='/getHousingCompare'"><img
                    src="https://kusitsm27new.s3.us-east-2.amazonaws.com/3.png" alt="Image 3"></button>
            <button class="image-button" onclick="location.href='/getInsuranceCompare'"><img
                    src="https://kusitsm27new.s3.us-east-2.amazonaws.com/4.png" alt="Image 4"></button>
            <button class="image-button" onclick="location.href='/getSubscribeCompare'"><img
                    src="https://kusitsm27new.s3.us-east-2.amazonaws.com/5.png" alt="Image 5"></button>
        </div>
    </div>


    <div class="hi">
        <p><span th:text="${maxSpend}" style="color: #2B66F5;"></span>에 매월 <span th:text="${maxSpendMoney}"
                                                                                 style="color: #2B66F5;"></span>만원<br>
            과도한 지출을 하고 있어요</p>
        <p>보험 변경 시 1년 기준<br>
            2만원을 절약할 수 있어요!</p>
    </div>


    <div class="graphbox" style="background-color: #F5F5F5">
        <div class="chart-container"
             style="padding-top: 10px; display: flex; justify-content: center; align-items: center;">
            <canvas id="myChart" style="height:200px; width:250px; text-align: center "></canvas>
            <!--            <script type="text/javascript" th:inline="javascript">-->
            <script type="text/javascript" th:inline="javascript">
             let jsonData = /*[[${jsonData}]]*/ null; // JSON 데이터를 JavaScript 변수로 할당
            let dataValues = JSON.parse(jsonData); // JSON 데이터를 JavaScript 배열로 변환

        let context = document
            .getElementById('myChart')
            .getContext('2d');

        let myChart = new Chart(context, {
            type: 'horizontalBar', // 차트의 형태
            data: { // 차트에 들어갈 데이터
                labels: [
                    //x 축
                    '나의 지출','동일 연령대','동일 소득'

                ],
                datasets: [
                    { //데이터
                        label: '단위:만원', //차트 제목
                        fill: false, // line 형태일 때, 선 안쪽을 채우는지 안채우는지
                        data: dataValues,
                        backgroundColor: [
                            //색상
                            'rgb(70, 127, 238 )',
                            'rgb(128, 150, 228)',
                            'rgb(41, 93, 226)',
                            'rgb(168, 194, 245)',
                            'rgb(178, 204, 255)',
<!--                            'rgb(255, 159, 64, 0.2)'-->
                        ],
                        borderColor: [
                            //경계선 색상
                            'rgb(70, 127, 238 )',
                            'rgb(128, 150, 228)',
                            'rgb(41, 93, 226)',
                            'rgb(168, 194, 245)',
                            'rgb(178, 204, 255)',
<!--                            'rgba(255, 159, 64, 1)'-->
                        ],
                        borderWidth: 1 //경계선 굵기
                    }
                ]
            },
            options: {
                responsive: false,
                maintainAspectRatio : false,

                yAxes: [{

                    ticks: {
                        beginAtZero: true,
                        drawOnChartArea: false

                    },
                    gridLines: {
                        display: false,
                        drawBorder: false,
                        color: 'transparent',
                        zeroLineColor: 'transparent'
                    }
                 }],
                xAxes: [{
                    ticks: {
                        beginAtZero: true,
                        drawOnChartArea: false

                    },
                    gridLines: {
                        display: false,
                        drawBorder: false,
                        color: 'transparent',
                        zeroLineColor: 'transparent'
                    }


                }],



            }
        });


            </script>
        </div>
        <br>

        <div class="font">
            <div class="button">
                <a class="button" th:href="@{/spendList/{category}(category=${category})}">내역 자세히보기</a>
            </div>
        </div>

    </div>


    <!--    <div class="container-fluid py-1">-->

    <!--    <div style="width: 900px; height: 900px;">-->
    <!--        style="height:30vh; width:50vw-->
    <!--차트가 그려질 부분-->

</div>
</body>


<!--</body>-->
<!--style="padding-bottom: 62px "-->


</html>
