<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--    <link rel="stylesheet" href="spendAnalysisReportNew.css">-->
    <link rel="stylesheet" href="https://kusitsm27new.s3.us-east-2.amazonaws.com/spendAnalysisRecommend.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

    <title>고정비 지출 분석중</title>
</head>

<body>
<div class="top-graphbox">
    <div class="top">
        <h3>고정비 관리 방법을 <br>
            제안해드려요<br></h3>
    </div>

    <div class = "middle">
        <div class="menu">
            <img src="https://kusitsm27new.s3.us-east-2.amazonaws.com/1.png" class="half" alt="Image 1">
            <img src="https://kusitsm27new.s3.us-east-2.amazonaws.com/2.png" class="half" alt="Image 1">
            <img src="https://kusitsm27new.s3.us-east-2.amazonaws.com/3.png" class="half" alt="Image 1">
            <img src="https://kusitsm27new.s3.us-east-2.amazonaws.com/4.png" class="half" alt="Image 1">
            <img src="https://kusitsm27new.s3.us-east-2.amazonaws.com/5.png" class="half" alt="Image 1">
        </div>
    </div>




    <div class="graphbox" style="background-color: #E4E8FC; margin-top: 20px">
        <div style="display: flex; flex-direction: row; width: 329px">
            <div style="flex: 8;">
            <div class="hi">
                <p>삼성 ID 달달 카드</p>
            </div>
            <div class="hi2">
                <p>생명보험, 손해보험 10% 할인카드</p>
            </div>
            <div class="hi3">
                <p>정기결제 시 10% 결제일 할인</p>
            </div>
            </div>
            <div style="flex: 2">
                <img src="https://kusitsm27new.s3.us-east-2.amazonaws.com/c1.png" class="card" alt="Image 1">
            </div>
        </div>
        </div>
    <div class="graphbox" style="background-color: #E4E8FC; margin-top: 20px">
        <div style="display: flex; flex-direction: row; width: 329px">
            <div style="flex: 8;">
            <div class="hi">
                <p>삼성 ID 달달 카드</p>
            </div>
            <div class="hi2">
                <p>생명보험, 손해보험 10% 할인카드</p>
            </div>
            <div class="hi3">
                <p>정기결제 시 10% 결제일 할인</p>
            </div>
            </div>
            <div style="flex: 2">
                <img src="https://kusitsm27new.s3.us-east-2.amazonaws.com/c1.png" class="card" alt="Image 1">
            </div>
        </div>
        </div>
     <div class="graphbox" style="background-color: #E4E8FC; margin-top: 20px">
        <div style="display: flex; flex-direction: row; width: 329px">
            <div style="flex: 8;">
            <div class="hi">
                <p>삼성 ID 달달 카드</p>
            </div>
            <div class="hi2">
                <p>생명보험, 손해보험 10% 할인카드</p>
            </div>
            <div class="hi3">
                <p>정기결제 시 10% 결제일 할인</p>
            </div>
            </div>
            <div style="flex: 2">
                <img src="https://kusitsm27new.s3.us-east-2.amazonaws.com/c1.png" class="card" alt="Image 1">
            </div>
        </div>
        </div>

<!--        <div>-->

<!--        </div>-->



    </div>


    <!--    <div class="container-fluid py-1">-->

    <!--    <div style="width: 900px; height: 900px;">-->
    <!--        style="height:30vh; width:50vw-->
    <!--차트가 그려질 부분-->

</div></body>


<!--</body>-->
<!--style="padding-bottom: 62px "-->

<script>
      function handleAgree() {
        // 확인 버튼 클릭 시 처리할 액션을 작성합니다.
        alert("마이데이터 이용에 동의하셨습니다.");
      }
    </script>
</body>
</html>