<c:set var="path" value="${pageContext.request.contextPath}"/>

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--    <link rel="stylesheet" href="spendAnalysisReportNew.css">-->
    <link rel="stylesheet" href="../../static/asset/spendList.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

    <title>고정비 지출 분석중</title>
</head>

<body>
<div class="top-graphbox">
    <div class="top">
        <h2 style="flex:1">5월 식비</h2>
        <h2 style="flex:1; color:#2B66F5">300,000원</h2>
    </div>
    <div class = "middle">
        <hr style="color:#D9D9D9; height: 3px;  background-color: #D9D9D9;">

    </div>





    <div class="spendList" >
        <div class="hi">
            <p>5월 13일</p>
        </div>
        <div class="list">
            <p class="hi2" style="flex:1">메차쿠차</p>
            <p class="hi2" style="flex:1; color:#2B66F5">12,000원</p>
        </div>
        <hr>
    </div>


    <div class="spendList" >
        <div class="hi">
            <p>5월 13일</p>
        </div>
        <div class="list">
            <p class="hi2" style="flex:2">메차쿠차</p>
            <p class="hi2" style="flex:2; color:#2B66F5">12,000원</p>
        </div>
        <hr>
    </div>


    <div class="spendList" >
        <div class="hi">
            <p>5월 13일</p>
        </div>
        <div class="list">
            <p class="hi2" style="flex:2">메차쿠차</p>
            <p class="hi2" style="flex:2; color:#2B66F5">12,000원</p>
        </div>
        <hr>
    </div>



</div>
</body>


<!--</body>-->
<!--style="padding-bottom: 62px "-->

<script>
      function handleAgree() {
        // 확인 버튼 클릭 시 처리할 액션을 작성합니다.
        alert("마이데이터 이용에 동의하셨습니다.");
      }
    </script>
</body>
</html>