.buttons{
    width: 125px;
    height: 33px;
    left: 48px;
    top: 633px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    color: #FFFFFF;
    background-color: #2B66F5;
    border-radius: 10px;
    text-align: center;
    border : none;
}
.graphbox{
    position: absolute;
    width: 290px;
    height: 325px;
    left: calc(50% - 290px/2);
    top: 357px;

    background: #F5F5F5;
    border-radius: 10px;
}
.top{
    position: absolute;
    width: 290px;

    /*font-family: 'Noto Sans KR';*/
    /*font-style: normal;*/
    /*font-weight: 700;*/
    /*font-size: 22px;*/
    /*line-height: 32px;*/

    color: #000000;

}
.top-graphbox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 265px;
    height: 98px;
    left: 45px;
    top: 243px;

    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

}
.table p {
    line-height: 0.8;
}
/*}*/
/*.line{*/
/*    !*position: absolute;*!*/
/*    width: 98px;*/
/*    height: 0px;*/
/*    left: 133.33px;*/
/*    top: 243px;*/

/*    border: 0.5px solid #D9D9D9;*/
/*    transform: rotate(90deg);*/
/*}*/