.top-graphbox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu{
    /*position: absolute;*/
    /*width: 296px;*/

    display: flex;
    width: 296px;
    height: 60px;
    /*left : 30px;*/

}
.middle{
    width: 315px;
    text-align: center;

}
.half {
    width: 50%; /* �대�吏��� �덈퉬瑜� 50%濡� �ㅼ젙�섏뿬 �덈컲 �ш린濡� 議곗젙 */
    height: auto; /* �덈퉬�� 留욊쾶 �대�吏��� �믪씠瑜� �먮룞 議곗젙 */
    max-width: 100%;

}
.hi{
    width: 150px;
    height: 35px;

    margin-left: 30px;
    margin-top: 10px;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;


}
.hi2{

    margin-top:15px;
    margin-left: 30px;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    line-height: 17px;
    color: #2B66F5;

}
.hi3{

    margin-top: -25px;
    margin-left: 30px;
    height: 30px;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;

    color: #989898;


}
.image-button {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.image-button img {
    display: block;
    width: 130px;
    height: auto;
    max-width: 100%;
}
.button{
    /*position: absolute;*/

    width: 296px;
    height: 56px;
    /*left: 48px;*/
    top: 670px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #2B66F5;
    border-radius: 10px;
    text-align: center;
    border : none;
}


.graphbox{
    /*width: 329px;*/
    /*height: 114px;*/
    left: 15px;
    top: 295px;

    /*background: #E4E8FC;*/
    border-radius: 20px;
    display: flex;
    flex-direction: column;


}
.top{
    /*position: absolute;*/
    width: 290px;

    color: #000000;

}
.card{
    /*position: absolute;*/
    /*width: 38px;*/
    /*height: 62px;*/

    margin-top: 20px;
    border-radius: 10px;
    width: 70%;
    height: auto;
    max-width: 100%;
}

.before{

    width: 12px;
    height: 21px;

    margin-top: 20px;
    margin-right: 328px;


}

