.list{
    width: 322px;
    height: 45px;
    left: 21px;
    top: 202px;

    background: #E4E8FC;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: 0 auto;

}
hr{
    color: #D9D9D9;
    margin-bottom: 15px;
    margin-top: 30px;
    border: 0;
}
.top {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
   text-align: center;
}
.hi{
    margin-left: 26px;
    color:#868686;
    font-weight: 500;
}
.before{

    width: 12px;
    height: 21px;

    margin-top: 20px;
    margin-right: 328px;


}