.top-graphbox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu{
    /*position: absolute;*/
    /*width: 296px;*/

    display: flex;
    width: 296px;
    height: 60px;
    /*left : 30px;*/

}

.middle{
    width: 315px;
    text-align: center;

}

/*.half {*/
/*    width: 50%; !* �대�吏��� �덈퉬瑜� 50%濡� �ㅼ젙�섏뿬 �덈컲 �ш린濡� 議곗젙 *!*/
/*    height: auto; !* �덈퉬�� 留욊쾶 �대�吏��� �믪씠瑜� �먮룞 議곗젙 *!*/
/*    max-width: 100%;*/

/*}*/
.hi{
    /*position: absolute;*/
    width: 296px;
    /*height: 120px;*/
    /*left: 40px;*/
    top: 298px;


}
.image-button {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.image-button img {
    display: block;
    width: 130px; /* �대�吏��� �덈퉬瑜� 50%濡� �ㅼ젙�섏뿬 �덈컲 �ш린濡� 議곗젙 */
    height: auto; /* �덈퉬�� 留욊쾶 �대�吏��� �믪씠瑜� �먮룞 議곗젙 */
    max-width: 100%;
}
.button{
    /*position: absolute;*/

    width: 296px;
    height: 56px;
    /*left: 48px;*/
    top: 670px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #2B66F5;
    border-radius: 10px;
    text-align: center;
    border : none;

    display: flex;
    justify-content: center;
    align-items: center;
}



.graphbox{
    /*position: absolute;*/
    width: 296px;
    height: 186px;
    /*left: 32px;*/
    /*top: 413px;*/

    background: #F5F5F5;
    border-radius: 15px;
    /*text-align: center;*/
    padding-bottom: 20px;


}
.top{
    /*position: absolute;*/
    width: 315px;

    color: #000000;

}
.before{

    width: 12px;
    height: 21px;

    margin-top: 20px;
    margin-right: 328px;

}

